
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon gossip THP: en avant les potins!!! !</h1>
    <a href="/gossips/new/">Cliquez-ici !!! <br>
    Vous pouvez dès maintenant balancer un vieux THPotin! <br>
    Oh noooon!!! C'est a-bu-sé !!!</a>
  </body>
</html>